.game_window {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
}

.online_game_button{
  align-self: center;
  margin-top: 10%;
  margin-bottom: 10px;
  justify-self: center;
}

.bots_game_button {
  background: orange;
}
