.cell {
  border: .1px solid rgba(0, 0, 0, 0.3);
  width: 24px;
  height: 24px;
  text-align: center;
}

.cell:hover {
  background-color: gray;
  cursor: pointer;
}

.hited {
  background-color: red;
}

.ship {
  background-color: blue;
  border: 0.2px solid rgba(0, 0, 0, 0.5);;
}